.root{
	-fx-font-family: "Times New Roman";
    -fx-base: rgb(201, 226, 197);
    -fx-font: 16px "Serif";
    -fx-background-image: url("background.png");
}

.text{
	-fx-font-size: 14px;
	-fx-font-weight: bold;
	-fx-text-fill: #333333;
	-fx-effect: dropshadow(gaussian,rgba(255,255,255,0.5),0,0,0,1);


}
#alert{
	-fx-stroke: firebrick ;
}
#title{

	-fx-font-size: 29px;
	-fx-stroke: firebrick ;
}
